<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>com.pelotech.worktimeoff</string>

        <key>ProgramArguments</key>
        <array>
            <string>/opt/homebrew/bin/python3</string>
            <string>/Users/chomatdam/IdeaProjects/chomatdam/python-scripts/main.py</string>
        </array>

        <!--    Allows to launch it manually-->
<!--        <key>KeepAlive</key>-->
<!--        <true/>-->

        <!--    Every Friday at 9 AM-->
        <key>StartCalendarInterval</key>
        <dict>
            <key>Weekday</key>
            <integer>5</integer>
            <key>Hour</key>
            <integer>9</integer>
            <key>Minute</key>
            <integer>0</integer>
        </dict>

        <key>StandardErrorPath</key>
        <string>/Users/chomatdam/IdeaProjects/chomatdam/python-scripts/logs/error.log</string>

        <key>StandardOutPath</key>
        <string>/Users/chomatdam/IdeaProjects/chomatdam/python-scripts/logs/out.log</string>
    </dict>
</plist>
